
body {
    background-color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
    margin: 60px;
}
#calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: sans-serif;
    width: 400px;
    padding: 12px;
}
#output {
    display: flex;
    justify-content: end;
    align-items: end;
    background-color: rgb(48, 48, 48);
    padding: 12px;
    padding-bottom: 0px;
    padding-top: 20px;
    height: 70px;
    font-size: 48px;
    overflow: hidden;
    text-wrap: nowrap;
}
#keyboard {
    display: flex;
    font-size: 48px;
    padding: 16px 0px;
}
#enter {
    display: flex;
    flex-direction: column;
    flex: 1;
}
#numbers {
    display: flex;
    flex-wrap: wrap;
}

.button {
    display: flex;
    margin: 6px;
    padding: 12px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.num {
    background-color: rgb(65, 65, 65);
}
.zero {
    flex: 1;
}
#interactions {
    display: flex;
}
.interaction {
    display: flex;
    margin: 6px;
    background-color: rgb(65, 65, 65);
    padding: 12px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#operations {
    display: flex;
    flex-direction: column;
    font-size: 32px;
}
.operator {
    background-color: rgb(172, 117, 0);
}
